.cart {
  display: flex;
  flex-direction: column;
  gap: var(--sp-300);

  padding: var(--sp-300);
  border-radius: var(--sp-150);
  background-color: var(--color-white);
}

.title {
  color: var(--color-red);
}

/* Empty Cart */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-200);

  padding: var(--sp-200) 0;
}

.image {
  display: block;
  max-width: 8rem;
}

.text {
  color: var(--color-rose-500);
}
