.products {
  display: flex;
  flex-direction: column;
  gap: var(--sp-400);
}

.title {
  color: var(--color-rose-900);
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--sp-300);

  list-style: none;
}

@media (min-width: 30em) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--sp-300);
  }
}

@media (min-width: 48em) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
